<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">A Computational Approach</h3>
    <ul>
      <li>A Computational Approach</li>
      <li>Additional Reading: from a full LC Workshop:
	<ul>
		<li>Jargon Busting</li>
	      	<li><a href="https://librarycarpentry.org/lc-data-intro/reference">Reference...</a></li>
	      	<li>Introduction to Working with Data (Regular Expressions)</li>
	</ul></li>
      <li><a href="https://librarycarpentry.org/lc-overview/">Canonical Workshop Overview...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and Directories</li>
      <li>History and Tab Completion</li>
      <li>Counting and Sorting Contents in Files</li>
      <li>Pipes and Redirection</li>
      <li>Mining or Searching in Files</li>
      <li><a href="https://librarycarpentry.github.io/lc-shell/reference">Reference...</a></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Introduction to R Studio</h3>
    <ul>
      <li>Introducing the Interface</li>
      <li>Creating scripts</li>
      <li>Loading libraries</li>

    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-openrefine">Web Scraping with Python</h3>
      <ul>
        <li>What is Web Scraping?</li>
        <li>Selecting content with Xpath</li>
        <li>Using browser extensions to scrape</li>
        <li>Scrape with Python and <a href="https://scrapy.org">Scrapy</a></li>
      </ul>
    </div>
  </div>
</div>
